
body {
    font-family: 'Arial', sans-serif;
    background-color: #fff; 
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6; 
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #263238; 
    color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); 
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    padding: 0 15px;
}

header nav a {
    text-decoration: none;
    color: #CFD8DC;
    transition: color 0.3s ease;
}

header nav a:hover, header nav a:focus {
    color: #FFC107; 
}


input[type="search"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #B0BEC5; 
    border-radius: 5px;
    background-color: #fff;
}

input[type="search"]:focus {
    border-color: #FFC107; 
}


main h1 {
    color: #263238; 
    text-align: center;
}
.recommendations {
    position: relative; 
    background-color: #ECEFF1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    overflow: hidden; 
}

.recipe-list {
    display: flex;
    overflow-x: auto;
    padding: 10px 0; 
}
.recipe-card {
    position: relative;
    flex: none;
    width: 300px;
    height: 200px; 
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.12);
}

.scroll-button {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 50%;
    padding: 10px 20px;
    background-color: #3498DB;
    color: #FFFFFF;
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.scroll-button.left {
    left: 10px; 
}

.scroll-button.right {
    right: 10px; 
}
