input[type="search"] {
    width: 80%;
    max-width: 600px;
    padding: 12px 20px;
    margin: 20px auto;
    border: 2px solid #f9aa33;
    border-radius: 50px;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    transition: all 0.3s ease;
}

input[type="search"]:focus {
    border-color: #344955;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}