*,
::before,
::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
	width: 100%;
	font-family: "Arial", sans-serif;
	background-color: #f7f9fc; /* Light background for consistency */
	line-height: 1.6;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

label {
	font-size: 1.2rem;
	color: #344955;
}

.form_container {
	background-color: #ffffff;
	padding: 2rem 3rem;
	border-radius: 0.5rem;
	width: 100%;
	max-width: 400px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form_container > h2 {
	margin-bottom: 1rem;
	color: #344955;
	font-size: 1.8rem;
	font-weight: bold;
}

.form_container > form {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

.form_container div {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}

.form_container input {
	border: 1px solid #e0e0e0;
	padding: 0.6rem;
	font-size: 1rem;
	border-radius: 0.3rem;
	outline: none;
	transition: border-color 0.3s ease;
}

.form_container input:focus {
	border-color: #344955;
}

.form_container input::placeholder {
	font-size: 0.9rem;
	color: #a0a0a0;
}

.form_container button {
	background-color: #f9aa33;
	color: #fff;
	border: none;
	padding: 0.7rem;
	font-size: 1rem;
	cursor: pointer;
	border-radius: 0.3rem;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.form_container button:hover {
	background-color: #344955;
	transform: scale(1.05);
}

span a {
	text-decoration: none;
	color: #344955;
	font-weight: bold;
}

span a:hover {
	text-decoration: underline;
}

.home_page {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #344955;
	color: #ffffff;
	font-size: 2rem;
	gap: 1rem;
	padding: 20px;
}

.home_page span {
	color: #f9aa33;
}

.home_page button {
	background-color: #f9aa33;
	color: #ffffff;
	cursor: pointer;
	padding: 1rem 2rem;
	font-size: 1.5rem;
	border-radius: 1rem;
	transition: background-color 0.3s ease, transform 0.3s ease;
	border: none;
}

.home_page button:hover {
	background-color: #ffffff;
	color: #344955;
	transform: scale(1.05);
}

@media only screen and (max-width: 1200px) {
	.home_page {
		font-size: 1.5rem;
	}
	.home_page button {
		padding: 0.8rem 1.5rem;
		font-size: 1.2rem;
	}
}
