/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    text-align: center;
}


/* Hero Section */
.hero {
    padding: 3rem 1rem;
    background-color: #344955;
    color: #fff;
    border-radius: 8px;
    margin: 2rem auto;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero h1 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.recipe-input {
    width: 80%;
    max-width: 500px;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 2px solid #344955;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
}

.recipe-input:focus {
    border-color: #c0392b;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.generate-button {
    background-color: #344955;
    color: #ffffff;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.generate-button:hover {
    background-color: #ffffff;
    color: #000000;
}
